@model List<ClassLibrary.User>;
<html>
	<head>
		<title>
			Index
		</title>
	</head>
	<body class="container">
		<div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">İsim</th>
                        <th scope="col">Number</th>
                        <th scope="col">Properties</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model){
                    <tr>
                        <td>@item.isim</td>
                        <td>@item.puan</td>
                        <td><a href="/User/Update/@item.Id">Güncelle </a> / <a href="/User/Delete/@item.Id">Sil</a> / <a href="/User/Profil/@item.Id">Profile Bak</a></td>
                    </tr>
                    }
                </tbody>
            </table>
            <hr />
            <p>Yeni kişi ekle : </p>
            <button  class="btn-success"><a href="/User/Add">Ekle</a></button>
		</div>
	</body>
</html>