@model ClassLibrary.User;
<html>
<head>
    <title>
        Profil
    </title>
</head>
<body class="container">
    <div>
        <h3>@Model.isim</h3>
        <hr />
        <h4>@Model.puan</h4>
    </div>
</body>
</html>
